.listproduit {
    text-align: center;
}

.listproduit select {
    width: 40%;
    font-size: 20px;
}

.gridproduits {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: auto;
    padding: 30px 0px; 
}